.describe {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.addToCart:hover p , .addToCart:hover svg {
    color: white !important;
}

.addToCart svg{
    color: black
}