@media (max-width:889px) {
  .currentCard {
    flex-direction: row !important;
  }

  .currentCard-text {
    align-items: start !important;
  }
}

@media (min-width:900px) {
  .currentCard {
    flex-direction: column !important;
  }

  .currentCard-text {
    align-items: center !important;
    text-align: center;
  }
}

@media (min-width:992px) {
  .currentCard {
    flex-direction: row !important;
  }

  .currentCard-text {
    text-align: start !important;
    align-items: start !important;
  }

  .swiper-button-next {
    right: 250px !important;
  }

  .swiper-button-prev {
    left: 250px !important;
  }
}

.font {
  font-family: 'Playfair Display';
}



body {
  background: linear-gradient(90.37deg, #444436 -27.95%, #1A1615 132.36%);
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
div,
span{
  font-family: 'Playfair Display' !important;

}

.navlink {
  color: white;
  text-decoration: none;
}

.navlink.active {
  color: #D69D66;
}

.navlink .linkText {
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
  text-transform: capitalize;
}
.navlink .linkTextGallery {
  text-decoration: none;
  margin-top: 5px;
  text-transform: capitalize;
}

.navlink:hover {
  color: #D69D66 !important;
}

/*collapse*/

#more[class="collapse"] {
  display: none !important;
}

/*swiper*/

.swiper-button-next,
.swiper-button-prev {
  top: 550px !important;
  position: absolute !important;
  color: white !important;
  border: 1px solid white;
  padding: 20px;
  user-select: none;
}
:root {
  --swiper-navigation-size: 22px !important;
  --swiper-navigation-sides-offset: 45px !important;
  
}




/*select Form*/

.form svg {
  color: white !important;
}

/*footer*/

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  text-transform: uppercase;
  margin-top: 20px;
}

footer ul li a {
  color: #FFFCF7;
  font-size: 16px;
  text-decoration: none;
}


/*paymen*/

.Mui-completed {
  color: rgb(175 170 170 / 87%) !important
}

.Mui-active {
  color: rgb(220 187 151 / 87%) !important
}

.css-1vyamtt-MuiStepLabel-labelContainer {
  color: white
}

/* text inside circle */
.css-117w1su-MuiStepIcon-text{
  fill: black !important
}

.input-payment::before {
  border-bottom: 0 !important
}

.input-payment::after {
  border-bottom: 0 !important
}

.phone-payment {
  background: #282015!important;
}

.input-payment-select #mui-component-select-age {
  padding: 5px !important;
  border: 0
}

.input-payment-select .MuiOutlinedInput-notchedOutline{
   border: 0;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
  padding: 0;
}

.cart-payment{
  background: var(--GreydARK, linear-gradient(0deg, rgba(58, 53, 0, 0.20) 0%, rgba(58, 53, 0, 0.20) 100%), linear-gradient(180deg, #242319 0%, #404040 100%)) ;
}

.MuiSvgIcon-root{
  color: white;
}


/*input profile page*/
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
  color: white;
}
.MuiInputLabel-sizeSmall{
  color: white;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: white ;
}

.css-11qfo8z-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
  border-color: white !important;

}

